body {
	margin: 0;
	font: 20px/1.5 Raleway, Helvetica, sans-serif;
}
section {
	width: 100%;
	height: 800px;
	background-color: blue;
	position: relative;
	overflow: hidden;
}
section:nth-child(n+2) {
	box-shadow:0 7px 6px -6px rgba(0,0,0,.5) inset;
}
section#home {
	background: #ADD8E6 url(../images/img_hermosa.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
.sectionTitle {
/*	position: relative;*/
	margin-top: 3%;
	margin-left: 6%;
	color: #fff;
	display: inline-block;
}
.sectionTitle .name {
	font-weight: 400;
	font-size: 85px;
	letter-spacing: 0;
	margin: 0;
	display: inline-block;
}
.sectionTitle .name .last {
	display: block;
	font-weight: 700;
	font-size: 60px;
	margin-top: -0.6em;
}
.sectionTitle .page {
	width: 234px;
	font-weight: 100;
	font-size: 30px;
	line-height: .8em;
	border-bottom: 1px solid currentcolor;
	display: block;
	padding-bottom: .5em;
	letter-spacing: .02em;
}
nav#nav-buttons {
	margin-left: 30%;
	margin-top: -12%;
}
.round-button-container {
	width: 25%;
	height: 85%;
}
.header-round-button {
	border-radius: 50%;
	background: rgba(0, 0, 0, .25);
	overflow: hidden;
	-o-transition: background .2s ease;
	-ms-transition: background .2s ease;
	-moz-transition: background .2s ease;
	-webkit-transition: background .2s ease;
	transition: background .2s ease;
	transition: all .3s ease;
}
.header-round-button:hover {
	background: rgba(0,184,174,.5);
}
.round-button-graphic {
	width: 190%;
	height: 0;
	margin: -60% auto auto -20%;
	padding-bottom: 190%;
	transition: all .3s ease;
}
.round-button-paint {
	width: 130%;
	height: 0;
	margin: -153% auto auto 136%;
	padding-bottom: 130%;
	position: relative;
	left: 100%;
	transition: all .3s ease;
}
.round-button-about {
	width: 80%;
	height:0;
	margin-left: 70%;
	padding-bottom: 80%;
	position: relative;
	left: 100%;
	transition: all .3s ease;
}
.round-button-resume {
	width: 95%;
	height:0;
	margin: -23% auto auto 58%;
	padding-bottom: 95%;
	position: relative;
	left: 100%;
	transition: all .3s ease;
}
.header-round-button a {
    display: block;
	float: left;
	width: 100%;
	padding-top: 50%;
    padding-bottom: 50%;
	line-height: 1em;
	margin-top: -0.5em;
	text-align: center;
	color: #e2eaf3;
    font-size: 1.4em;
    font-weight: 300;
    text-decoration: none;
}

aside#contact-button {
	margin: -16% 0 0 60%;
	padding: 6%;
}
.contact-link a {
	text-decoration: none;
	color: white;
}
.contact-link {
	font-size: 45px;
	font-weight: 100;
	line-height: 1.1em;
	text-align: center;
	padding: 20px;
}
.contact-link:hover {
	color: rgba(0,184,174,.75);
}
aside.home {
	text-align: center;
	position: absolute;
	bottom: 8%;
	margin-left: 54%;
}
.home-button {
	text-decoration: none;
	color: white;
}
.home-link {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.1em;
	text-align: center;
	/*border-radius: 50%;*/
	width: 100px;
    height: 100px;
    border: 4px solid;
	border-color: rgba(255, 255, 255, .50);
    overflow: hidden;
    margin: auto;
    /*background: rgba(0, 0, 0, .25); */
    /*box-shadow: 0 0 3px gray;*/
    /*margin-top: -40px;*/
	border-radius: none;
	z-index:1;
	transition: border-radius .3s ease;
	-moz-transition: border-radius .3s ease;
	-webkit-transition: border-radius .3s ease;
}
.home-link:hover {
	display: block;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
}
aside#graphics-back-button {
	text-align: center;
	position: fixed;
	bottom: 6%;
	margin-left: 120px;
}
.back-link {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.1em;
	text-align: center;
	width: 100px;
    height: 100px;
    /*border: 4px solid;*/
	/*border-color: rgba(255, 255, 255, .50);*/
    overflow: hidden;
    margin: auto;
    background: rgba(0, 0, 0, .25); 
    /*box-shadow: 0 0 3px gray;*/
    /*margin-top: -40px;*/
	border-radius: none;
	z-index:1;
	transition: border-radius .3s ease;
	-moz-transition: border-radius .3s ease;
	-webkit-transition: border-radius .3s ease;
}
.back-link:hover {
	display: block;
	/*text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);*/
	/*background: rgba(255, 255, 255, 0.1);*/
	border-radius: 50%;
}
p.padding-top {
	padding-top: 11px;
}
section#about {
	background: #D3D3D3 url(../images/img_trees.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
#about-description {
	margin-left: 30%;
	margin-top: -12%;
	width: 61.1%;
	font-size: 15px;
	bottom: 8%;
}
#about-description .italic {
	font-style: italic;
}
#paragraph1 {

}
#paragraph2 {
	margin-left: 6%;
}
.paragraph {
	display: block;
	width: 40%;
	float: left;
}
section#graphic {
	background: #D3D3D3 url(../images/trees3.jpg) no-repeat;
	background-position: bottom;
	background-size: cover;
}
.portfolio {
	margin-top: 7%;
	margin-left: 30%;
	height: 79.75%;
	width: 61.1%;
}
.portfolio .box {
	height: 79%;
	width: 16%;
	text-decoration: none;
	position: absolute;
    overflow: hidden;
    background: rgba(0, 0, 0, .15); 
    bottom: 8%;
    border-radius: none;
    background-position: 50% 100%;
	-o-transition: background-position .3s ease, background .3s ease;
	-ms-transition: background-position .3s ease, background .3s ease;
	-moz-transition: background-position .3s ease, background .3s ease;
	-webkit-transition: background-position .3s ease, background .3s ease;
	transition: background-position .3s ease, background .3s ease;

}
.box h1 {
	font-size: 21px;
	margin-top: 10%;
	text-align: center;
	color: black;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: .05em;
	text-decoration: none;
}
.portfolio #box1:hover {
	background: white url(../images/eyes2.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 79%;
	width: 16%;
}
.portfolio #box2 {
	margin-left: 18%;
}
.portfolio #box2:hover {
	background: white url(../images/cecrc2.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 79%;
	width: 16%;
}
.portfolio #box3 {
	margin-left: 36%;
}
.portfolio #box3:hover {
	/*background: rgba(0, 0, 0, .4);*/
	background: white url(../images/wheel.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 79%;
	width: 16%;
}

/*BEGIN GRAPHIC PAGE*/
section#graphic-page {
	background: #FFFFFF url(../images/graphics-background3.jpg) fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	overflow: auto;
	position: relative;
}
.sectionTitle-extractedpage {
	position: fixed;
	left: 2%;
	top: 11.75%;
	color: black;
}
.sectionTitle-extractedpage .name {
	font-weight: 400;
	font-size: 77px;
	letter-spacing: 0;
	margin-left: 1em;
	margin-top: 12px;
}
.sectionTitle-extractedpage .name .last {
	display: block;
	font-weight: 700;
	font-size: 54px;
	margin-top: -0.6em;
}
.sectionTitle-extractedpage .page {
	font-weight: 100;
	font-size: 30px;
	margin-top: 0;
	line-height: .8em;
	border-bottom: 1px solid currentcolor;
	display: block;
	padding-bottom: .5em;
	letter-spacing: .02em;
}
.header {
	height: 48px;
	width: 97%;
	text-decoration: none;
	overflow: hidden;
	background: rgba(0, 0, 0, .25); 
	border-radius: none;
	margin-top: 30px;
}
.header h1 {
	font-size: 21px;
	margin-top: 1%;
	margin-left: 3%;
	text-align: left;
	color: white;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: .05em;
	text-decoration: none;
	display: inline-block;
}
#sandjportfolio {
	margin-left: 30%;
	width: 61.1%;
}
#sandjportfolio p {
	margin-left: 2%;
	font-size: 14px;
	text-align: center;
}
#sandjadvertising {
	font-size: 15px;
	width: 86%;
	margin-left: 2%;
	margin-top: 20px;
}
.sample {
	width: 44%;
	border: 1px solid black;
	margin: 2%;
	margin-bottom: 0.5%;
	position: relative;
	display: inline-block;
}
.card {
	margin-left: 27.33%;
}
.sample1 {
	width: 96%;
	margin-top: 5%;
	border: 1px solid black;
	margin: 2%;
	margin-bottom: 0.5%;
	float: left;
}
.samplewide {
	width: 93%;
}
.medium {
	width: 70%;
	margin-left: 15%;
}
.bottom {
	margin-bottom: 5%;
}
#independent-sample3-versions {
	width:48.5%
}
#independent-logo2 {
	width: 60%;
	margin-left: 15%;
}
#independent-logo3 {
	width: 60%;
	margin-left: 25%;
}
#independent-logo4 {
	width: 60%;
	margin-left: 35%;
}
#ac-cd {
	width: 55%;
	margin-left: 22.5%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.divider {
	height: 5%;
	width: 100%;
	text-decoration: none;
	background: rgba(0, 0, 0, .25); 
	border-radius: none;
	clear: both;
}
/*END GRAPHIC PAGE*/
section#paint {
	background: #B0C4DE url(../images/img_trees3.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
.paint {
	width: 70%;
	border: 1px solid black;
	margin: 2%;
	margin-left: 10%;
	float: left;
}
#paintings {
	margin-top: -15%;
	height: 85%;
	overflow: scroll;
}
/*END PAINT PAGE*/
section#resume {
	background: #C0C0C0 url(../images/img_trees2.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	height: 900px;
}
.download-resume{
	width: 15%;
	margin-left: 6%;
	/*float: left;*/
	font-size: 48px;
	font-weight: 700;
}
.download-resume a {
	text-decoration: none;
	color: black;
}
.download-resume a:hover {
	color: rgb(0,184,174);
}
.resume-line {
	font-size: 61px;
	line-height: 0.5em;	
}
#resume-content {
	height: 105%;
	margin-top: -22%;
	margin-left: 30%;
	bottom: 8%;
}
#resume-details {
	font-size: 15px;
	height: 66%;
	width: 75%;
	overflow: scroll;
	padding: 2%;
}
#resume-details p {
	font-weight: 300;
	margin: 0;
}
#resume-details ul {
	margin-top: 7px;
}
#resume-details ul.other{
	margin-top: 0;
}
#resume-details h3 {
	font-size: 24px;
	color: rgb(0,184,174);
	margin-bottom: 10px;
}
#resume-details h4 {
	margin: 0;
}
#resume-details h4.subtitle {
	font-size: 18px;
	margin-top: 24px;
}
#resume-details h4.subtitle-first {
	font-size: 18px;
	margin-top: 10px;
}
#resume-details h5 {
	margin: 0;
}
section#contact {
	background: #CFE1BA url(../images/contact-background.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
#contact-content {
	margin-left: 6%;
	margin-top:	15%;
	bottom: 8%;
}
#contact-home-button {
	margin-left: 24%;
}
section#home .sectionTitle {
	color: black;
}
section#contact .sectionTitle {
	color: black;
}
section#contact .sectionTitle .line2 {
	color: white;
	font-size: 67px;
	font-weight: 100;
	line-height: 1.2em;
}
section#contact .sectionTitle .line3 {
	color: white;
	font-size: 48px;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: 1px;
}
section#contact .sectionTitle .line3new {
	color: white;
	font-size: 48px;
	font-weight: 700;
	line-height: 1em;
}
section#contact .sectionTitle .line4 {
	color: white;
	font-size: 73px;
	line-height: .9em;
	font-weight: 300;
	letter-spacing: -0.01em;
}
#contact-details {
	color: white;
}
h2#greeting {
	font-size: 38px;
	font-weight: 400;
	letter-spacing: .045em;
	margin: 0;
}
h2#phone {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: .05em;
	margin: 0;
	margin-top: -1.5%;
}
h2#email {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: .05em;
	margin: 0;
}
h2#email a{
	text-decoration: none;
	color: white;
}
h2#email a:hover {
	color: rgb(204, 255, 250);
}
/*TABLET BREAKPOINT*/

@media only screen and (max-width: 1120px) {
	.sectionTitle {
		margin-left: 3%;
	}
	.sectionTitle .name {
		font-weight: 400;
		font-size: 70px;
		letter-spacing: 0;
		margin: 0;
		display: inline-block;
	}
	.sectionTitle .name .last {
		display: block;
		font-weight: 700;
		font-size: 50px;
		margin-top: -0.6em;
	}
	.sectionTitle .page {
		width: 196px;
		font-size: 25px;
		line-height: .8em;
		padding-bottom: .25em;
	}
}

@media only screen and (max-width: 800px) {
	.round-button-graphic {
		font: 16px;
	}
	.paragraph {
		width: 90%;
	}
	#paragraph2 {
		margin: 2% 0 0 0;
	}
	#about-description {
		margin-left: 3%;
		margin-top: 0;
	}
}

/*BEGIN MOBILE BREAKPOINT*/

@media only screen and (max-width: 650px) {
	section#home {
		height: 100vh;
		min-height: 600px;
	}
	nav#nav-buttons {
		margin-left: 0;
		margin-top: 0;
	}
	.round-button-container {
		width: 100%;
		height: 75%;
	}
	.header-round-button {
		border-radius: 0;
		background: rgba(0, 0, 0, .25);
		overflow: hidden;
		-o-transition: background .2s ease;
		-ms-transition: background .2s ease;
		-moz-transition: background .2s ease;
		-webkit-transition: background .2s ease;
		transition: background .2s ease;
		transition: all .3s ease;
	}
	.round-button-graphic {
		width: 50%;
		height: 0;
		margin: 0;
		padding-bottom: 50%;
		position: absolute;
		left: 0;
		transition: all .3s ease;
	}
	.round-button-paint {
		width: 50%;
		height: 0;
		margin: 0 0 0 50%;
		padding-bottom: 50%;
		position: absolute;
		left: 0;
		transition: all .3s ease;
	}
	.round-button-about {
		width: 50%;
		height: 0;
		margin: 50% 50% 0 0;
		padding-bottom: 50%;
		position: absolute;
		left: 0;
		transition: all .3s ease;
	}
	.round-button-resume {
		width: 50%;
		height: 0;
		margin: 50%;
		padding-bottom: 50%;
		position: absolute;
		left: 0;
		transition: all .3s ease;
	}
	.header-round-button a {
	    display: block;
		float: none;
		width: 100%;
		padding-top: 50%;
	    padding-bottom: 50%;
		line-height: 1em;
		margin: 0;
		text-align: center;
		color: #e2eaf3;
	    font-size: 1.4em;
	    font-weight: 300;
	    text-decoration: none;
	}
	aside#contact-button {
		margin: 0;
		padding: 6%;
	}
	.contact-link a {
		text-decoration: none;
		color: white;
	}
	.contact-link {
		font-size: 45px;
		font-weight: 100;
		line-height: 1.1em;
		text-align: center;
		padding: 20px;
	}
	.contact-link:hover {
		color: rgba(0,184,174,.75);
	}
	#about-description {
		width: 95%;
	}
	#paragraph1 {
		margin: 2% 0 0 0;
	}
	section#home {
		height: 100vh;
		min-height: 600px;
	}
	.portfolio {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.portfolio #box1 {
		margin: auto 0 50% 0;
		width: 100%;
		height: 0;
		padding-bottom: 50%;
	}
	.portfolio #box1:hover {
		margin: auto 0 50% 0;
		width: 100%;
		height: 0;
		padding-bottom: 50%;
	}
	.portfolio #box2 {
		margin: 0;
		width: 50%;
		height: 0;
		padding-bottom: 50%;
	}
	.portfolio #box2:hover {
		margin: 0;
		width: 50%;
		height: 0;
		padding-bottom: 50%;
	}
	.portfolio #box3 {
		margin: 0 auto 0 50%;
		width: 50%;
		height: 0;
		padding-bottom: 50%;
	}
	.portfolio #box3:hover {
		margin: 0 auto 0 50%;
		width: 50%;
		height: 0;
		padding-bottom: 50%;
	}
} /*END 650px*/













